.calculator{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.calculator .calculator_container{
    background-color: transparent;
    box-shadow: 1px 5px 8px 0.5px lightgrey;
    padding: 20px;
    border-radius: 10px;
}
.calculator .calculator_container .result_box{
    padding: 10px;
}
.calculator .calculator_container .result_box .result{
    padding: 10px 30px;
    border: none;
    border:3px dotted orange;
    border-radius: 10px;
    height: 40px;
    font-size: 2rem;
}
.button button{
    padding: 7px;
    margin: 5px;
    border-radius: 100px;
    /* background-color: transparent; */
    border: 0;
    color: rgb(8, 9, 9);
    cursor: pointer;
    font-family: sans-serif;
    width:50px;
    height: 50px;
    border: 2px solid orange;
    font-weight: bold;
    text-transform: capitalize;
    box-shadow: 2px 5px 8px green;
    font-size: 20px;
}
.button button.eqale{
    color: white;
    background-color: black;
    border:2px dashed white;
    
}
